<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1843E1081BE752C900FDD8E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1843E1211BE752CA00FDD8E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1843E12C1BE752CA00FDD8E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
